/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  font-family: Roboto, sans-serif;
}

.container {
  width: 100%;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

mat-chip-list {
  .mat-chip-list-wrapper {
    mat-chip.mat-chip {
      border-radius: 4px;
      padding: 2px 4px;
    }
  }
}

mat-form-field.mat-form-field {
  width: 100%;
}

mat-list-option {
  // todo animation does not fill this element when clicked
  padding: 4px 16px;
}

a {
  color: #3f51b5;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: #3f51b5;
  }
}
