<h1 mat-dialog-title>{{data.title}}</h1>
<p><i>Tab to add a tag, Enter to save item</i></p>
<div mat-dialog-content>

  <mat-form-field class="demo-chip-list">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let tag of data.tags" [selectable]="selectable"
                [removable]="removable" (remove)="remove(tag)">
        {{tag}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input #input matInput placeholder="Tag this item"
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)"
             [matAutocomplete]="auto"/>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let tag of data.allTags" [value]="tag.name">
          {{ tag.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-chip-list>
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data" tabindex="2">Save</button>
  <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
</div>
