<div class="spinner" *ngIf="showSpinner">
  <div>
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    <p>{{pocket.getLoadingMessageSub() | async}}...</p>
  </div>
</div>

<mat-sidenav-container *ngIf="!showSpinner">

  <mat-sidenav [opened]="showSidebar" [mode]="(screenWidth > 840) ? 'side' : 'over'" style="width: 250px">
    <app-sidebar
      [username]="username"
      [tags]="tags"
      [items]="list"
      (filterByDate)="filterByDate($event)"
      (filterByTag)="filterByTag($event)"
      (filterNotTagged)="filterNoTags()"
      (resetFilter)="resetFilter()"
    ></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <div class="container">
        <app-search-bar (onSearchSubmit)="onSearchSubmit($event)"></app-search-bar>

        <!--todo show as cards instead of list-->
        <!--todo show archived items-->
        <button mat-icon-button type="button" (click)="refreshData(false)">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
    </mat-toolbar>

    <div class="container">

      <app-search-result-list
        *ngIf="searchTerm && searchTerm.length > 0"
        [tags]="filteredTags"
        (onTagSelected)="filterByTag($event)"
      >
      </app-search-result-list>

      <app-item-list [filteredList]="filteredList" [tags]="tags" (tagsAdded)="onTagsAdded($event)"></app-item-list>
      s
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
