<!--sidebar-->
<mat-sidenav-container>
  <mat-sidenav mode="side" opened="true">

    <mat-toolbar>
      <span>{{this.username}}</span>
    </mat-toolbar>

    <!--filter-actions-->
    <div class="filter-actions">
      <button mat-button (click)="filterByDate(0)">All items</button>
      <button mat-button (click)="filterByDate(1)">Last 24 hours</button>
      <button mat-button (click)="filterByDate(7)">Last 7 days</button>
      <button mat-button (click)="filterNoTags()">Not tagged</button>
    </div>

    <!--tags-list-->
    <div class="tags-list">
      <h4>Tags ({{tags.length}})</h4>
      <ul *ngIf="tags && tags.length > 0">
        <li *ngFor="let tag of tags" dnd-droppable (onDropSuccess)="simpleDrop($event)">
          <a style="cursor: pointer" (click)="filterByTag(tag.name)">
            <span>{{tag.name}}</span>
            <span style="float: right">{{tag.count}}</span>
          </a>
        </li>
      </ul>
    </div>
  </mat-sidenav>

  <!--main content-->
  <mat-sidenav-content>

    <mat-toolbar>
      <span>{{filteredList.length}} items</span>
      <span class="spacer"></span>
      <!--todo show as cards instead of list-->
      <!--todo show archived items-->
      <mat-icon (click)="refresh()">refresh</mat-icon>
    </mat-toolbar>

    <!-- todo makes no sense because rxjs is not implemented yet-->
    <mat-progress-bar mode="indeterminate" *ngIf="filteredList.length === 0 && showSpinner"></mat-progress-bar>

    <!--item list-->
    <!--todo odd even background-->
    <mat-list *ngIf="filteredList.length > 0 && !showSpinner">
      <mat-list-item *ngFor="let item of filteredList" dnd-draggable [dragEnabled]="true">

        <!--<mat-checkbox matListIcon></mat-checkbox>-->

        <div matLine>
          <a href="{{item.given_url}}" target="_blank">
            <b>{{item.resolved_title}}</b>
          </a>
          <small><i>{{item.time_added + '000' | date}}</i></small>
        </div>

        <p class="excerpt" matLine><i>{{item.excerpt}}</i></p>

        <mat-chip-list matLine>
          <mat-chip *ngFor="let tag of item.customTags">
            <a style="cursor: pointer" (click)="filterByTag(tag)">{{tag}}</a>
          </mat-chip>
        </mat-chip-list>

        <mat-icon>done</mat-icon>
        <mat-icon (click)="showAddTagsModal(item.item_id, item.resolved_title, item.customTags )">bookmark_border
        </mat-icon>
        <mat-icon>delete</mat-icon>

      </mat-list-item>
    </mat-list>

  </mat-sidenav-content>


</mat-sidenav-container>


