mat-sidenav-container {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  mat-sidenav {
    ul {
      list-style: none;
      padding-left: 16px;
    }
  }

  .excerpt {
    white-space: inherit;
    margin-top: 5px;
    margin-bottom: 10px;
    i {
      font-size: 13px;
    }
  }

  .filter-actions {
    button {
      display: block;
      width: 100%;
      text-align: left;
    }
  }
}
