<h1 mat-dialog-title>{{data.title}}</h1>
<p><i>Tab to add a tag, Enter to save item</i></p>
<div mat-dialog-content>

  <form  #heroForm="ngForm" (ngSubmit)="doSubmit()">
    <mat-form-field class="demo-chip-list">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let tag of data.tags" [selectable]="selectable" [selected]="false"
                  [removable]="removable" (remove)="remove(tag)">
          {{tag}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input matInput #input type="text" placeholder="Tag this item"
               [formControl]="tagInput"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="add($event)"
               [matAutocomplete]="auto"/>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addFromAutocomplete($event)">
          <mat-option *ngFor="let tag of filteredTags" [value]="tag.name">
            {{ tag.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-chip-list>
    </mat-form-field>
  </form>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="doSubmit()" tabindex="2">Save</button>
  <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
</div>
