<!--sidebar-->
<div class="spinner" *ngIf="showSpinner === true">
  <div>
    <mat-progress-spinner mode="indeterminate">gfdgfd</mat-progress-spinner>
    <p>Loading...</p>
  </div>
</div>

<mat-sidenav-container fullscreen *ngIf="showSpinner === false">
  <mat-sidenav mode="side" opened="true" style="width: 200px">

    <mat-toolbar>
      <span>{{this.username}}</span>
    </mat-toolbar>

    <!--filter-actions-->
    <div class="filter-actions">
      <button mat-button (click)="filterByDate(0)">All items</button>
      <button mat-button (click)="filterByDate(1)">Last 24 hours</button>
      <button mat-button (click)="filterByDate(7)">Last 7 days</button>
      <button mat-button (click)="filterNoTags()">Not tagged</button>
    </div>

    <!--tags-list-->
    <div class="tags-list">
      <h4>Tags ({{tags.length}})</h4>

      <button mat-button *ngFor="let tag of tags" (click)="filterByTag(tag.name)">
        <span class="name">{{tag.name}}</span>
        <small class="count">{{tag.count}}</small>
      </button>

    </div>
  </mat-sidenav>

  <!--main content-->
  <mat-sidenav-content>

    <mat-toolbar>
      <span class="content-title">{{filteredList.length}} items</span>
      <span class="spacer"></span>
      <!--todo show as cards instead of list-->
      <!--todo show archived items-->
      <mat-icon (click)="refreshData()">refresh</mat-icon>
    </mat-toolbar>

    <!--item list-->
    <!--todo odd even background-->
    <mat-list>
      <mat-list-item *ngFor="let item of filteredList" class="item">

        <div matLine>
          <a *ngIf="item" href="{{item.given_url}}" target="_blank">
            <b *ngIf="item.resolved_title != ''" class="title">{{item.resolved_title}}</b>
            <b *ngIf="item.resolved_title === ''" class="title">{{item.given_title}}</b>
          </a>
          <small class="date-added"><i>{{item.time_added + '000' | date}}</i></small>
        </div>

        <a matLine class="url" href="{{item.given_url}}" target="_blank">
          <small><p>{{item.given_url}}</p></small>
        </a>

        <i matLine class="excerpt">
          <p>{{item.excerpt}} </p>
        </i>

        <mat-chip-list matLine>
          <mat-chip *ngFor="let tag of item.customTags">
            <a style="cursor: pointer" (click)="filterByTag(tag)">{{tag}}</a>
          </mat-chip>
        </mat-chip-list>

        <!--<mat-icon>done</mat-icon>-->
        <mat-icon (click)="showAddTagsModal(item.item_id, item.resolved_title, item.customTags )">bookmark_border
        </mat-icon>
        <!--<mat-icon>delete</mat-icon>-->

      </mat-list-item>
    </mat-list>

  </mat-sidenav-content>


</mat-sidenav-container>


