.spinner {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  mat-progress-spinner {
    //display: flex;
  }
  p {
    //display: flex;
  }
}

mat-sidenav-container {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  mat-sidenav {
    ul {
      list-style: none;
      padding-left: 16px;
    }
  }

  .content-title {
    flex: 1;
  }

  .filter-actions {
    button {
      display: block;
      width: 100%;
      text-align: left;
    }
  }

  .tags-list {

    button.mat-button {
      display: flex;
      flex-direction: column;
      width: 100%;
      line-height: 25px;

      span.mat-button-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: flex-start;

        .name {
          text-align: left;
          flex: 1;
        }
        .count {
        }
      }
    }

  }

  .item {

    p {
      margin-top: 0;
      margin-bottom: 4px;
      white-space: inherit;
    }

    .url {
    }

    .excerpt {
      p {
        white-space: normal;
      }
      i {
        font-size: 13px;
      }
    }
  }
}
