<!--loading spinner-->
<div class="spinner" *ngIf="showSpinner">
  <div>
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    <p>{{pocket.getLoadingMessageSub() | async}}...</p>
  </div>
</div>

<!--main container-->
<mat-sidenav-container fullscreen *ngIf="!showSpinner">

  <!--sidebar-->
  <mat-sidenav mode="side" opened="true" style="width: 250px">
    <app-sidebar
      [username]="username"
      [tags]="tags"
      (filterByDate)="filterByDate($event)"
      (filterByTag)="filterByTag($event)"
      (filterNotTagged)="filterNoTags()"
      (resetFilter)="resetFilter()"
    ></app-sidebar>
  </mat-sidenav>

  <!--main content-->
  <mat-sidenav-content>

    <mat-toolbar>
      <span class="content-title">{{filteredList.length}} items</span>
      <span class="spacer"></span>
      <!--todo show as cards instead of list-->
      <!--todo show archived items-->
      <button mat-icon-button (click)="refreshData(false)">
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-toolbar>

    <!--item list-->

    <app-search-bar  (onSearchSubmit)="onSearchSubmit($event)"></app-search-bar>

    <app-item-list [filteredList]="filteredList" [tags]="tags" (tagsAdded)="onTagsAdded($event)"></app-item-list>

  </mat-sidenav-content>


</mat-sidenav-container>


