.spinner {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  mat-progress-spinner {
    //display: flex;
  }
  p {
    //display: flex;
  }
}

mat-sidenav-container {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  mat-sidenav {
    ul {
      list-style: none;
      padding-left: 16px;
    }
  }

  .excerpt {
    white-space: inherit;
    margin-top: 5px;
    margin-bottom: 10px;
    i {
      font-size: 13px;
    }
  }

  .filter-actions {
    button {
      display: block;
      width: 100%;
      text-align: left;
    }
  }
}
