<mat-toolbar>
  <span>{{username}}</span>
</mat-toolbar>

<!--filter-actions-->
<div class="filter-actions">
  <button mat-button (click)="onFilterByDate(0)">All items</button>
  <button mat-button (click)="onFilterByDate(1)">Last 24 hours</button>
  <button mat-button (click)="onFilterByDate(7)">Last 7 days</button>
  <button mat-button (click)="onFilterNoTags()">Not tagged</button>
</div>

<!--tags-list-->
<div class="tags-list">
  <h4>Tags ({{tags.length}})</h4>

  <button mat-button *ngFor="let tag of tags" (click)="onFilterByTag(tag.name)">
    <span class="name">{{tag.name}}</span>
    <small class="count">{{tag.count}}</small>
  </button>

</div>
