<!--todo odd even background-->
<mat-list class="item-list">
    <app-item
            *ngFor="let item of filteredList | slice:pageIndex*pageSize:pageIndex*pageSize+pageSize; let isOdd=odd; let isEven=even"
            [isOdd]="isOdd"
            [isEven]="isEven"
            [item]="item"
            [tagList]="tagList"
    ></app-item>
</mat-list>

<mat-paginator [length]="filteredList.length"
               [pageSize]="pageSize"
               [pageSizeOptions]="[5, 10, 25, 50, 100]"
               (page)="updatePage($event)">
</mat-paginator>
